{% extends 'SibersAdminBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Административная панель{% endblock %}

{% block content %}
    <h1>Редактировать пользователя</h1>
    <div class="usr-edit">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Редактировать</button>
        {{ form_end(form) }}
    </div>    
{% endblock %}    
