{% extends 'SibersAdminBundle::layout.html.twig' %}

{% block title %}Административная панель{% endblock %}

{% block content %}
    <h1>Админка</h1>
    <table class="table table-striped main-table">
        <thead>
            <tr>
                <th{% if users.isSorted('a.id') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'ID', 'a.id') }}                    
                </th>
                <th{% if users.isSorted('a.enabled') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Активен', 'a.enabled') }}
                </th>
                <th{% if users.isSorted('a.mustBeDeleted') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Должен быть удален', 'a.mustBeDeleted') }}
                </th>
                <th{% if users.isSorted('a.username') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Логин', 'a.username') }}
                </th>
                <th{% if users.isSorted('a.firstName') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Имя', 'a.firstName') }}
                </th>
                <th{% if users.isSorted('a.lastName') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Фамилия', 'a.lastName') }}
                </th>
                <th{% if users.isSorted('a.roles') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Привелегии', 'a.roles') }}
                </th>
                <th{% if users.isSorted('a.email') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Email', 'a.email') }}
                </th>
                <th{% if users.isSorted('a.lastLogin') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Последнне посещение', 'a.lastLogin') }}
                </th>
                <th>Операции</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="{{ user.isMustBeDeleted ? 'danger' }}">
                    <td>{{ user.id }}</td>
                    <td>
                        <a class="user-contol" href="{{ path('admin_toggle_user', {'id': user.id}) }}" data-action="toggle">
                            <span class="glyphicon 
                                  {{ user.isEnabled ? 'glyphicon-ok' : 'glyphicon-remove' }}">
                            </span>
                        </a>
                    </td>
                    <td class="must-be-deleted">
                        {% if user.isMustBeDeleted %}
                            <div class="fire">
                                <span class="glyphicon glyphicon-fire"></span>
                                {{  user.mustBeDeleted | date('Y-d-d H:i:s') }}
                            </div>
                        {% endif %}
                        <br/>
                        <a class="user-contol" href="{{ path('admin_delayed_removal_user', {'id': user.id}) }}" data-action="delay">
                            <span class="glyphicon 
                                  {{ user.isMustBeDeleted ? 'glyphicon-thumbs-up' : 'glyphicon-thumbs-down' }}">
                            </span>                            
                        </a>
                        
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.roles.0 | role}}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.lastLogin  | date('Y-d-d H:i:s') }}</td>
                    <td>
                        <div class="btn-group-vertical">
                            <a href="{{ path('admin_edit_user', {'id': user.id}) }}" class="btn btn-success">Редактировать</a>
                            <a href="{{ path('admin_delete_user', {'id': user.id}) }}" class="btn btn-danger user-contol" data-action="delete">Удалить</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    {#<a href="#" class="btn btn-primary">Новый пользователь</a>#}    
    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>        
{% endblock %}
