{% extends 'SibersBlogBundle::layout.html.twig' %}

{% block title %}О блоге{% endblock %}
{% block content %}
    <h1>О блоге</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo 
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis 
        dis parturient montes, nascetur ridiculus mus.
    </p>
    <p>
        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla 
        consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, 
        vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis 
        vitae, justo.
    </p>
    <p>
        Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
        Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
        ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem 
        ante, dapibus in, viverra quis, feugiat a, tellus.
    </p>
    <p>
        Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean 
        imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies 
        nisi. Nam eget dui. Etiam rhoncus.
    </p>
    <p>
        Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, 
        sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus 
        pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. 
        Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam 
        sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris 
        sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget 
        bibendum sodales, augue velit cursus nunc,
    </p>
    {% endblock %}
