{% for blog in blogs %}
    <div class="row">
        <div class="date">
            <time datetime="{{ blog.created | date('c') }}">
                {% include 'SibersBlogBundle::dateRussianFormat.html.twig' with {'date': blog.created } %}
            </time>
        </div>
        <a class="title-blog-link orange full" href="{{ path('_show', { 'id': blog.id }) }}">
            <h2>{{ blog.title }}</h2>
        </a>
        <div class="col-lg-3">
            <img src="{{ ['uploads/', blog.image] | join | imagine_filter('thumb_filter')}}" alt="{{ blog.title }}"/> 
            <p>Комментарии: {{ blog.comments | length }}</p>
            <p>
                Автор: 
                <span class="orange">
                    {{ [blog.user.firstName, ' ', blog.user.lastName] | join }}
                </span>
            <p>
            <p>
                Создан:
                {% if blog.created %}
                    {{ blog.created | date('H:i') }}
                {% endif %}
            </p>
            <p>
                Теги:
                <span class="orange">
                    <small>{{ blog.tags }}</small>
                </span>
            </p>
        </div>
        <div class="col-lg-9">
            <p class="blog-text">{{ blog.body | slice(0,400) }}</p>
            <a class="full-blog full" href="{{ path('_show', { 'id': blog.id }) }}">Показать полностью</a>
        </div>
    </div>
{% endfor %}
<div class="navigation">
    {{ knp_pagination_render(blogs) }}
</div>

