{% extends 'SibersBlogBundle::layout.html.twig' %}

{% block content %}
    <div id="blog-content">
        {% include 'SibersBlogBundle:Blog:blogsList.html.twig' with {'blogs': blogs } %}
    </div>
{% endblock %}
