<div class="row blog-info">
    <div class="date">
        <time datetime="{{ blog.created | date('c') }}">
            {% include 'SibersBlogBundle::dateRussianFormat.html.twig' with {'date': blog.created } %}
        </time>
    </div>

    <h2 class="orange">{{ blog.title }}</h2>
    
    <img class="pull-left big-img" src="{{ ['uploads/', blog.image] | join | imagine_filter('down_scale_filter')}}" alt="{{ blog.title }}"/>
    {{ blog.body }}
</div>  

<a class="back-link" href="{{ path('_index') }}"><< Назад к списку</a>

<h3 class="comments">Комментарии</h3>
{{ render(controller('SibersBlogBundle:Comment:index', { 'blogid': blog.id })) }}

