<div class="comments-page" data-page-count="{{ comments.pageCount }}">
    {% set linkAdd = false %}
    {% for comment in comments %}
        {% set offset =  comment.level*20%}
        <article class="comment" style="margin-left: {{ (offset<550) ? offset : 550 }}px">
            <header>
                <p class="small"><span class="orange">{{ [comment.user.firstName, ' ', comment.user.lastName] | join }}</span> кометировал
                    [<time datetime="{{ comment.created|date('c') }}">{{ comment.created|date('Y-m-d h:iA') }}</time>]
                </p>
            </header>
            <p>{{ comment.body }}</p>        
            <a class="answer" href="{{ is_granted("IS_AUTHENTICATED_REMEMBERED") 
            ? path('comment_new', {'blog': comment.blogId, 'user': app.user.id, 'parent': comment.id}) 
            : path('comment_new') }}" data-toggle="modal" data-target="#dialog">
                Ответить
            </a>
            <div class="clearfix"></div>
            {% if comments.pageCount != comments.currentPageNumber and  linkAdd == false %}
                <a class="next-page" href="{{ path('comment_index', {'blogid': blog_id, 'page': (comments.currentPageNumber + 1)}) }}"></a>
                {% set linkAdd = true %}
            {% endif %}

        </article>            
    {% endfor %}

</div>

<a  class="new-blog-comment" href="{{ is_granted("IS_AUTHENTICATED_REMEMBERED") 
    ? path('comment_new', {'blog': blog_id, 'user': app.user.id}) 
    : path('comment_new') }}" data-toggle="modal" data-target="#dialog">
    Создать комментарий
</a>



