{% extends 'SibersBlogBundle::modalLayout.html.twig' %}

{% block modal_header %}<h1>Создать комментарий</h1>{% endblock %}
{% block modal_body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="comment-body">
            {{ form_row(form.body) }}
        </div>
        <div class="hidden">
           {{ form_rest(form) }} 
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    {{ form_end(form) }}
{% endblock %}
