{% extends 'SibersBlogBundle::modalLayout.html.twig' %}

{% block modal_header %}<h2>Вход или регистация</h2>{% endblock %}
{% block modal_body %}
    <h3>Добавлять комментарии могут только авторизованные пользователи.<h3>
    <div class="login">        
        {{ render(controller('FOSUserBundle:Security:login')) }} 
    </div>
{% endblock %}    