/* 
    Created on : 15.12.2016, 12:08:06
    Author     : dev
*/

.admin-btn{
    border-color: #ddd;
    border-width: 2px;
    color: white;
}
.admin-btn:hover{
    color: #a6e1ec !important;
}
.admin-btn:visited{
    color: white;
}
.admin-info{
    margin-right: 20px;
}
.left-menu{
    background-color: #444;
    margin-top: -20px;
    margin-bottom: -30px;
    min-height: 930px;
    padding: 10px; 
}
.left-menu a, .left-menu .dropdown-toggle{
    min-width: 230px;
    margin-left: 25px !important;
    margin-bottom: 10px;
}
.left-menu .dropdown-toggle{
        width: 255px;
}
.left-menu ul{
    margin-left: 24px;
    margin-top: -6px;
}
.btn-active{
    border-color: #0f7fe0;
    border-width: 3px;
}
.main-table{
    width: 99%;
}
.main-table th.sorted{
    background-color: #2d6ca2;
}
.sorted a{
    color: white;
}
thead .glyphicon{
    display: none;
    float: right;
    color: white;
}
.sorted a.asc  span.glyphicon-chevron-up{
    display: inline-block;
}
.sorted a.desc  span.glyphicon-chevron-down{
    display: inline-block;
}
.user-contol .glyphicon-ok{
    color: green;
}
.user-contol .glyphicon-remove{
    color: red;
}
.btn-close{
    float: right;
}
.btn-toggle-usr{
    width: 75px;
}
.usr-edit{
    width: 500px;
}
.must-be-deleted{
    text-align: center;
}
.must-be-deleted .fire{
    color: red;
}
.must-be-deleted .glyphicon-thumbs-up{
    color: green;
}
.must-be-deleted .glyphicon-thumbs-down{
    color: red;
}
.count-messages{
    font-size: 20px;
    background-color: #ff8d13;
    padding: 0px 8px;
    float: right;
    border-radius: 50%;
    display: none;
}