{% for comment in latestComments %}
    <article class="comment">
        <header>
            <p class="small"><span class="orange">{{ [comment.user.firstName, ' ', comment.user.lastName] | join }}</span> кометировал
                <a class="orange full" href="{{ path('_show', { 'id': comment.blog.id }) }}">
                    {{ comment.blog.title }}
                </a>
                [<time datetime="{{ comment.created|date('c') }}">{{ comment.created|date('Y-m-d h:iA') }}</time>]
            </p>
        </header>
        <p>{{ comment.body | slice(0, 100) }}</p>
</article>
{% else %}
    <p>Нет комментариев</p>
{% endfor %}