{% extends 'SibersBlogBundle::modalLayout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block modal_header %}<h1>Отправка письма</h1>{% endblock %}
{% block modal_body %}
    <p>
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime, 
        '%email%': email})|nl2br }}
    </p>
{% endblock %}
