{% extends 'SibersBlogBundle::modalLayout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block modal_header %}<h1>Пользователь не найден</h1>{% endblock %}
{% block modal_body %}
    <p>
        К сожалению пользователь с именем: <strong>{{ username }}</strong> 
        не зарегистрирован.
    </p>
{% endblock %}
