{% extends 'SibersBlogBundle::modalLayout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block modal_header %}<h1>Восстановление не разрешено</h1>{% endblock %}
{% block modal_body %}
    <p>
        Восстановление пароля запрашивлось менее {{ lastRequest }} часов назад.
    </p>
{% endblock %}
