{% extends 'SibersBlogBundle::modalLayout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block modal_header %}<h1>Сброс пароля</h1>{% endblock %}
{% block modal_body %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div>
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" id="username" name="username" required="required" />
        </div>
        <button type="submit" class="btn btn-primary">{{ 'resetting.request.submit'|trans }}</button>
    </form>
{% endblock %}