{% extends 'SibersBlogBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ 'resetting.reset.submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
