{% set day = date | date('N') %}
{% set month = date | date('n') %}
{% if day == 1 %}
    Понедельник
{% elseif day == 2 %}
    Вторник
{% elseif day == 3 %}
    Среда
{% elseif day == 4 %}
    Четверг
{% elseif day == 5%}
    Пятница
{% elseif day == 6 %}
    Суббота
{% elseif day == 7 %}
    Воскресенье
{% endif %} 
{{ date | date(', j ') }} 
{% if month == 1 %}
    Января
{% elseif month == 2 %}
    Февраля
{% elseif month == 3 %}
    Марта
{% elseif month == 4 %}
    Апреля
{% elseif month == 5 %}
    Мая
{% elseif month == 6 %}
    Июня
{% elseif month == 7 %}
    Июля
{% elseif month == 8 %}
    Августа
{% elseif month == 9 %}
    Сентября
{% elseif month == 10 %}
    Октября
{% elseif month == 11 %}
    Ноября
{% elseif month == 12 %}
    Декабря
{% endif %}
{{ date | date(', Y') }}