{% extends 'base.html.twig' %}
{% block body %}
    {% set currentPath = app.request.attributes.get('_route') %}
    <div class="container">
        <div class="header">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header visible-xs">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Меню</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="{% if currentPath == '_index' %}active{% endif %}">
                                <a href="{{ path('_index') }}">Главная</a>
                            </li>
                            <li class="{% if currentPath == 'about_index' %}active{% endif %}">
                                <a href="{{ path('about_index') }}">О блоге</a>
                            </li>
                            <li class="{% if currentPath == 'contact_index' %}active{% endif %}">
                                <a href="{{ path('contact_index') }}">Обратная связь</a>
                            </li>

                        </ul> 
                        <div class="nav navbar-nav navbar-right">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                Пользователь: <span class="user">{{ [app.user.firstName, ' ', app.user.lastName] | join }}</span> | 
                                <a class="navbar-link" href="{{ path('fos_user_security_logout') }}">Выход</a>
                            {% else %}
                                <div class="dropdown">
                                    <a  href="#" data-toggle="dropdown" class="dropdown-toggler navbar-link">Войти</a>
                                    <div class="dropdown-menu pull-right login-menu">
                                        <div class="row">
                                            <div class="main">
                                                {{ render(controller('FOSUserBundle:Security:login')) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}    
                        </div>   
                    </div>
                </div>
            </nav>
            <div class="jumbotron">
                <h1>Блог на Symfony 2.8</h1> 
                <p>
                    Это простой блог на Symfony 2.8, использующий 
                    jQuery, JQuery UI и Bootstrap 3
                </p>
            </div>                   
        </div>
        <div class="cssload-loader-walk">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div> 
        <div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>                    
        <div class="row">
            <div class="col-lg-9 main-col">
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}    
            {% block content %}{% endblock %} 
        </div>
        <div class="col-lg-3 sidebar hidden-xs">
            <h2>Облако тегов</h2>
            {{ render(controller("SibersBlogBundle:Sidebar:tagCloud")) }}
            <h2>Последние комментарии</h2>
            {{ render(controller("SibersBlogBundle:Sidebar:latestComments")) }}
        </div>
    </div>
    <div class="footer">
        <p>© Sibers 2016</p>    
    </div>    
</div>
{% endblock %}    
