<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="ModalLabel">{% block modal_header %}{% endblock %}</h4>
</div>
<div class="modal-body">{% block modal_body %}{% endblock %}</div>
