/* 
    Created on : 25.11.2016, 17:41:26
    Author     : dev
*/
.main-col{
    border-right: gray solid 2px;
}
.footer{
    margin-top: 30px;
    padding: 15px;
    border-top: gray solid 2px;
}
#blog-content p{
    margin-bottom: 5px;
    font-style: italic;
}
#blog-content img{
    margin-bottom: 5px; 
}
.orange{
    color: #f0ad4e;
}
#blog-content .full-blog{
    float: right;
    margin: 10px;
}
#blog-content .blog-text{
    text-align: justify;
}
.title-blog-link h2{
    margin-left: 15px; 
}
.date{
    margin: 20px 0 10px 15px;   
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    color: #666;
    line-height: 30px;
}
.navigation, .back-link, .new-blog-comment{
    float: right;
    margin-right: 25px;
    /*font-size: 24px;*/
}
.cssload-loader-walk{
    top: 500px;
    display: none;

}
.sidebar .tags { 
    font-weight: bold; 
}
.sidebar .tags span { 
    color: #000; 
    font-size: 12px; 
}
.sidebar .tags .weight-1 { 
    font-size: 12px; 
}
.sidebar .tags .weight-2 { 
    font-size: 15px; 
}
.sidebar .tags .weight-3 { 
    font-size: 18px; 
}
.sidebar .tags .weight-4 { 
    font-size: 21px; 
}
.sidebar .tags .weight-5 { 
    font-size: 24px; 
}
.sidebar h2 { 
    line-height: 1.2em; 
    font-size: 20px; 
    margin-bottom: 10px; 
    font-weight: normal; 
    background: #eee; 
    padding: 5px;  
}
.sidebar .small { 
    font-size: 12px; 
}
.comment p { 
    margin-bottom: 5px; 
    text-align: justify;
}
.comment { 
    margin-bottom: 10px; 
    padding: 10px; 
}
.big-img{
    margin-right: 20px;
}
.blog-info{
    text-align: justify;
    margin-right: 10px;
}
.back-link{
    margin-bottom: 20px; 
}
h3.comments {
    background: #eee;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    clear: both;
}
.even-comment{
    background: #eee;
}
.answer{
    float: right;
    margin-right: 20px;
}
.nav span.user{
    color: white;
}
.dropdown .main{
    width: 270px;
    margin: 30px;
}
.navbar-right{
    margin-top: 15px;
}
.login{
    width: 370px;
    margin: auto;
    font-size: 14px;
}
.comment-body textarea{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}
.comment-body label{
    font-size: 18px;
}
.comment-result{
    font-size: 20px;
}
.fos_user_resetting_request label{
    margin-right: 10px;
}
.fos_user_resetting_request input{
    width: 300px;
}
.fos_user_resetting_request button{
    margin-top: 20px;
}
.comments-page article:nth-child(odd){
    background: #eee;
}
.fos_user_user_show{
    font-size: 20px;
}
.feedback-form{
    width: 600px;
}
.feedback-form textarea{
    height: 200px;
}