{% extends 'SibersBlogBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="fos_user_user_show">
        <p>
            {{ 'profile.show.username'|trans }}: <strong>{{ user.username }}</strong>
        </p>
        <p>
            {{ 'profile.show.email'|trans }}: <strong>{{ user.email }}</strong>
        </p>
    </div>
{% endblock %}