{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="ModalLabel">Изменить опцию</h4>
    <div class="modal-body">
        <h4>{{ option.title }}</h4>
        {{ form_start(form, {'attr': {'class': 'option-edit-form'}}) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Редактировать</button>
        {{ form_end(form) }}       
    <div>
</div>