<hr/>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Опции <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    {% for option in options %}
       <li>
           <a href="{{ path('admin_edit_options', {'id': option.id}) }}" data-toggle="modal" data-target="#modal-sm">
               {{ option.title }}
           </a>
       </li> 
    {% endfor %}    
  </ul>
</div>