<h3>
    Войдите или 
    <a href="{{ path('fos_user_registration_register') }}" data-toggle="modal" data-target="#dialog" >
        Зарегистрируйтесь
    </a>
</h3>
<form action="{{ path('fos_user_security_check') }}" method="POST" class="fos_user_login">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="form-group">
        <label for="inputUsernameEmail">Логин или email</label>
        <input type="text" id="inputUsernameEmail" name="_username" value="{{ last_username }}" required="required" class="form-control" />
    </div>
    <div class="form-group">
        <a class="pull-right" href="{{ path('fos_user_resetting_request') }}" data-toggle="modal" data-target="#dialog">Забыли пароль?</a>
        <label for="inputPassword">Пароль</label>
        <input type="password" class="form-control" id="inputPassword" name="_password" required="required" />
    </div>
    <div class="checkbox pull-right">
        <label>
            <input type="checkbox">
            Запомнить меня </label>
    </div>
    <button type="submit" class="btn btn btn-primary">
        Войти
    </button>
</form>
<script type="text/javascript">fullReload = true;</script>        