{% extends 'SibersBlogBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Обратная связь{% endblock %}
{% block content %}
    <h1>Отправить сообщение администратору</h1>
    <div class="feedback-form">
    {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn btn-primary">
                Отправить
            </button>
    {{ form_end(form) }}
    </div>
{% endblock %}
