<hr/>
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="count-messages"></span> Сообщения <span class="caret"></span>
    </button>
    <ul class="dropdown-menu messages" role="menu"></ul>
</div>