<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>{{ title }}
    <span class="glyphicon glyphicon-chevron-up"></span>
    <span class="glyphicon glyphicon-chevron-down"></span>
</a>
