{% extends 'SibersBlogBundle::modalLayout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block modal_header %}<h1>Регистрация</h1>{% endblock %}
{% block modal_body %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
    <script type="text/javascript">reloadPageFlag=true;</script>
{% endblock %}
