{% extends 'SibersBlogBundle::modalLayout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block modal_header %}<h1>Регистрация нового пользователя</h1>{% endblock %}
{% block modal_body %}
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ 'registration.submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
