{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sibersadmin/css/admin.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sibersadmin/js/admin.js') }}" type="text/javascript"></script>
    {% if is_granted("ROLE_BLOGER") %}
        {% include 'SibersAdminBundle:custom:web_socket.html.twig' with {'user_id': app.user.id } %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="header">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <a href="{{ path('_index') }}" class="btn admin-btn navbar-btn" target="_blank">Открыть блог</a>
                <div class="nav navbar-nav navbar-right admin-info">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        Пользователь: <span class="user">{{ [app.user.firstName, ' ', app.user.lastName] | join }}</span> | 
                        <a class="navbar-link" href="{{ path('fos_user_security_logout') }}">Выход</a>
                    {% endif %}
                </div>                
            </div>
        </nav>
    </div>
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}    
    <div class="row">
        <div class="col-lg-2 left-menu">
            <div class="btn-group-vertical">
                <a href="{{ path('admin_index') }}" class="btn btn-default btn-active">Пользователи</a>
                <a class="btn btn-default">Посты</a> {#TODO: add actions and links#}
                <a class="btn btn-default">Комментарии</a>
            </div>
            {{ render(controller('SibersAdminBundle:Options:list')) }}
            {% include 'SibersAdminBundle:custom:messages.html.twig' %}
        </div>
        <div class="col-lg-10">
        {% block content %}{% endblock %}
    </div>
</div>
<div class="footer">
    <p>© Sibers 2016</p>    
</div>
<div id="modal-sm" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalLabel">{% block modal_header %}{% endblock %}</h4>
            </div>
            <div class="modal-body">{% block modal_body %}{% endblock %}</div>
        </div>
    </div>
</div>        
{% endblock %}        
